#kigyofej {
    width: 50px;
    height: 50px;
    position: relative;
    background-size: contain;
}

#jatekmezo {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

#tarolo {
    text-align: center;
}

#ujra, #start {
    height: 50px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
}
